<!--_meta 作为公共模版分离出去-->
{include file="../../../public/public/admin/meta"}
<!--/meta 作为公共模版分离出去-->

<title>新增文章 - 资讯管理</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">作者：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="可以为空" id="author" name="author">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">来源：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="可以为空" id="source" name="source">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">分类：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select name="cate_id" id="cate_id">
                    <option value="1" selected>公司新闻</option>
                    <option value="2">行业新闻</option>
                    <option value="3">热门新闻</option>
                    <option value="4">热点资讯</option>
                    <option value="5">行业资讯</option>
                    <option value="6">我们的服务</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">是否发布：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select name="is_Release" id="release">
                    <option value="1" selected>发布</option>
                    <option value="0" selected>不发布</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list"></div>
                    <div id="filePicker">
                        选择图片
                        <input type="file" name="image" id="image" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <!--<textarea cols="150" rows="10" name="content" id="content"></textarea>-->
                <!-- 加载编辑器的容器 -->
                <textarea name="content" id="content"></textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="article_save_submit();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="../../../public/public/admin/footer"}
<!--/_footer /作为公共模版分离出去-->

<!-- 配置文件 -->
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript" src="/static/js/ue.js"></script>
<script type="text/javascript">
    var content;

<!--表单上传-->
    function article_save_submit(){
        //获取编辑器内容
        ue.ready(function() {
            //获取html内容，返回: <p>hello</p>
            content = ue.getContent();
        });
        var title = $("#title").val();
        var author = $("#author").val();
        var source = $("#source").val();
        var cate_id = $("#cate_id").val();
        var is_Release = $("#release").val();
        var content = content;
        var image = document.getElementById("image").files[0];

        var fordata = new FormData();
        fordata.append('title',title);
        fordata.append('author',author);
        fordata.append('source',source);
        fordata.append('cate_id',cate_id);
        fordata.append('is_Release',is_Release);
        fordata.append('content',content);
        fordata.append('image',image);
        //提交服务器
        $.ajax({
            type: 'post',
            url: 'add',
            data: fordata,
            cache:false,  //默认是true，但是一般不做缓存
            processData:false, //用于对data参数进行序列化处理，这里必须false；如果是true，就会将FormData转换为String类型
            contentType:false,  //一些文件上传http协议的关系，自行百度，如果上传的有文件，那么只能设置为false
            success: function (res) {
                res = eval("("+res+")");
                if(res.status == 1){
                    layer.msg('添加成功!',{icon:1,time:2000},function(){
                        location.href="<?php url('Article/index') ?>";
                    });
                }else{
                    layer.msg('添加失败!',{icon:1,time:2000},function(){
                    });
                }
            }
        });
    }
</script>
</body>
</html>