<!--_meta 作为公共模版分离出去-->
{include file="../../../public/public/index/meta"}
<title>{$systemctl['web_title']}-办理流程</title>
<!--_header 作为公共模版分离出去-->
{include file="../../../public/public/index/header"}

<!-- 当前位置-文章 -->
<div class="container">
    <!-- 当前位置 -->
    <div class="font-huise overflow-hidden lxjhtitle gsdsjarticledqwz">
        <span class="ybqjfontsize24px font-heise SourceHanSansCN-Normal">当前位置：</span>
        <span class="cursor-pointer font-huise" onclick="javascript:void(window.location.href='http://{$host}/Overstudy')">留学</span>&nbsp;>
        <span class="font-huise gsdsjarticledqwz04">办理流程</span>
    </div>
    <!--文章 -->
    <div class="text-align-c ybqjfontsize24px font-heise gsdsjarticletitle"></div>
    <article class="ybqjfontsize20px font-heise gsdsjarticlezw">
        <?php echo $newData['content']; ?>
    </article>
    <div class="gsdsjarticlefy">

    </div>
</div>
<script>
    $(".gsdsjarticletitle").html($(".gsdsjarticledqwz04").html());
</script>

{include file="../../../public/public/index/footer"}

</body>

</html>